<div class="container mt-4">
  <div class="header">
    <h1>Contacts Management</h1>
    <button routerLink="/create" class="btn btn-success">Create Contact</button>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Email</th>
        <th>Mobile Number</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contact of contacts">
        <td>{{ contact.id }}</td>
        <td>{{ contact.first_name }}</td>
        <td>{{ contact.last_name }}</td>
        <td>{{ contact.age }}</td>
        <td>{{ contact.gender }}</td>
        <td>{{ contact.emailId }}</td>
        <td>{{ contact.mobilenumber }}</td>
        <td>{{ contact.status }}</td>
        <td class="actions">
          <button
            class="btn btn-primary"
            [routerLink]="['/update', contact.id]"
          >
            Edit
          </button>
          <button class="btn btn-danger" (click)="deleteContact(contact.id)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
